# Server
CLERK_SECRET_KEY=""
CLERK_WEBHOOK_SECRET=""
RESEND_FROM=""
DATABASE_URL=postgresql://neondb_owner:npg_VxlNKRuo8zW2@ep-bold-poetry-a7h97xfa-pooler.ap-southeast-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require
RESEND_TOKEN=""
POLAR_ACCESS_TOKEN=""
POLAR_WEBHOOK_SECRET=""
FLAGS_SECRET=""
SVIX_TOKEN=""
BASEHUB_TOKEN=""
VERCEL_PROJECT_PRODUCTION_URL="http://localhost:3002"
KNOCK_API_KEY=""
KNOCK_FEED_CHANNEL_ID=""

# Client
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL="/"
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL="/"
NEXT_PUBLIC_GA_MEASUREMENT_ID=""
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST=""
NEXT_PUBLIC_DOCS_URL="http://localhost:3004"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_WEB_URL="http://localhost:3001"
